[submodule "MeshLib"]
	path = MeshLib
	url = https://github.com/cfwen/MeshLib.git
[submodule "lemon"]
	path = lemon
	url = https://github.com/cfwen/lemon.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/cfwen/eigen.git
